* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0; }

body {
  background-color: #333;
  color: white;
  overflow-x: hidden; }

header {
  position: fixed;
  min-width: 100%;
  margin-top: 0;
  top: 0;
  z-index: 100; }
  header .titulo-principal {
    text-decoration: none;
    color: #fff; }

main {
  margin-top: 200px;
  margin-bottom: 10px; }

footer.pie__de__pagina i.fab {
  color: #333;
  font-size: 25px;
  margin-top: 15px; }

.pie__de__pagina {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 80px;
  min-width: 100%;
  margin-top: 20px;
  background-color: #fff; }

.pie__de__pagina .redes {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center; }

.pie__de__pagina .redes .redes__ul {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 20px;
  transition: all 400ms; }

.pie__de__pagina .redes .redes__ul > li:hover {
  transform: scale(0.8, 0.8);
  border-bottom: 3px solid #162d49; }

h1 {
  background-image: url(https://filesedc.com/uploads/363/img/2022/07/1200/persona-tatuando-en-blanco-y-negro-62d8ff2fbe3bb.jpg);
  background-size: 20rem;
  padding: 50px;
  text-transform: capitalize;
  margin-bottom: 0; }

h2 {
  text-transform: capitalize;
  text-align: center; }

img {
  width: 100%; }

.row {
  display: flex;
  padding: 5px;
  flex-wrap: wrap; }
  .row .column {
    flex: 25%;
    padding: 5px; }
  .row .column img {
    margin-top: 5px; }

@media (max-width: 800px) {
  .column {
    flex: 50%;
    padding: 5px; } }

@media (max-width: 600px) {
  .column {
    flex: 100%;
    padding: 5px; } }

.container-fluid {
  color: #333;
  text-transform: capitalize; }

#about {
  padding: 10px;
  margin: 10px;
  text-align: justify; }

#preguntas {
  padding: 10px;
  margin-top: 10px;
  border-color: white;
  text-decoration: none; }

#contacto {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://filesedc.com/uploads/363/img/2022/07/1200/persona-tatuando-en-blanco-y-negro-62d8ff2fbe3bb.jpg);
  background-repeat: repeat-y;
  background-position: center center;
  background-size: cover;
  height: 500px; }
  #contacto .form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 60px;
    min-width: 100%;
    margin-top: 150px; }
    #contacto .form .form__input {
      width: 500px; }
